body{
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow: 7px 7px 10px rgb(238, 1, 163);
}
.copy_right_footer{
    position: fixed;
    background-color: rgb(224, 232, 251);
    color: rgb(52, 34, 34);
    bottom:0px;
    width: 100%;
    line-height: 29px;
    text-align: center;
}
#input1{
    width: 30%;
}
#button1{
    font-size: 20%;
}
label{
    width:15%;
}
canvas{
    border:3px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 6px grey;
    margin-top:150px;
}